[submodule "renderer/include/stb"]
	path = renderer/include/stb
	url = https://github.com/nothings/stb.git
[submodule "renderer/include/fpng"]
	path = renderer/include/fpng
	url = https://github.com/richgel999/fpng.git
