[submodule "dataset/external/MatSynth"]
	path = dataset/external/MatSynth
	url = https://huggingface.co/datasets/gvecchio/MatSynth
[submodule "renderer/include/tinyexr"]
	path = renderer/include/tinyexr
	url = https://github.com/syoyo/tinyexr.git
